html {
    scroll-padding-top: calc(4.5rem - 1px);
    height: 100vh;
}

body {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Noto Sans KR', sans-serif;
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
}

a.team {
    padding-top: -15rem;
    margin: 5px 16px 0 340px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    white-space: nowarp;
}

.navbar {
    display: flex;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: transparent;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1.system_title {
    margin: 400px 0 0 0;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    text-align: center;
    font-size: 104px;
    font-weight: 500;
    text-decoration: none solid rgb(33, 37, 41);
    text-transform: uppercase;
    letter-spacing: 12.8px;
    line-height: 104px;
    word-spacing: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2.system_text {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
    line-height: 24px;
    word-spacing: 0px;
    --bs-text-opacity: 1;

}

input.form_control {
    width: 685px;
    min-height: auto;
    padding: 6px 12px 6px 12px;
    border: 1px solid #CED4DA;
    border-radius: 3px;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 16px;
    font-weight: 400;
    color: #212529;
    line-height: 1.5;
}

button.btn {
    padding: 1.25rem 2rem;
    margin-left: -1px;
    border: 0;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #64a19d;
    text-align: center;
    font-size: 80%;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.15rem;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgb(0 0 0 / 10%);
}

button.btn:hover {
    cursor: pointer;
}

button.btn:active {
    background-color: #50817e;
    transition: 0.3s;
}

button.btn::after {
    background-color: #50817e;
}

div.text{
    position: absolute;
    left: 25%;
    top: -25%;
}

div.list {
    overflow: auto;
    width: 70%;
    height: 450px;
    margin: 80px auto;
    background-color: white;
}

div.input_group {
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    flex-wrap: wrap;
    align-items: stretch;
}

div.person{
    display: flex;
    justify-content: space-between;
}

div.display{
    display: flex;
    justify-content: space-between;
}